#root {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}

